@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Quando&display=swap');






.drinkscontainer {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-family: IBM Plex Sans, sans-serif;
}

.drinkcontainer {
    background-color: red;
    overflow: hidden;
    width: 200px;
    min-height: 150px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .titles {
        display: flex;
        flex-direction: column;

        h3 {
            font-family: Quando, serif;
        }
    }
}
