@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Quando&display=swap');

#app {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  
  .productContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 300px;
    width: 300px;
    border-radius: 20px;
  }
  
  .productContainer:hover {
    background-color: rgb(198, 218, 225);
    
  }.listedCat:nth-child(even){
    background: rgb(255,196,252);
    background: linear-gradient(90deg, rgba(255,196,252,1) 0%, rgba(213,48,247,1) 23%, rgba(125,236,255,1) 50%, rgba(251,183,255,1) 78%, rgba(137,235,255,1) 100%);
  }
  
  .listedCat:nth-child(odd){
    background: rgb(196,255,250);
    background: linear-gradient(90deg, rgba(196,255,250,1) 0%, rgba(246,202,255,1) 23%, rgba(239,164,246,1) 50%, rgba(183,235,255,1) 78%, rgba(177,137,255,1) 100%); 
  }

  .listedCat:hover{
    color:pink;
  }




.drinkscontainer {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    font-family: IBM Plex Sans, sans-serif;
}

.drinkcontainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background: rgb(255,202,225);
    background: radial-gradient(circle, rgba(255,202,225,1) 30%, rgba(148,187,233,1) 100%);
    
    
    overflow: hidden;
    width: 250px;
    min-height: 200px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    cursor: pointer;

    &:hover {
      background: radial-gradient(circle, rgba(148,187,233,1) 30%, rgba(255,202,225,1) 100%);
      color:aliceblue;

    }

    .titles {
        display: flex;
        flex-direction: column;

        h3, h4 {
            margin: 0;
            padding-left: 1rem;
        }
        
        h3 {
            font-family: Quando, serif;
            font-size: 2rem;
        }

        h4 {
            font-size: 1.5rem;
        }
    }

    .details {
        display: flex;
        justify-content: space-evenly;
    }

}